export(get_colors)
export(save_figure)
importFrom(graphics,par)
importFrom(grDevices,cairo_pdf)
importFrom(grDevices,dev.off)
importFrom(grDevices,png)
importFrom(grDevices,replayPlot)
importFrom(grDevices,svg)
importFrom(grDevices,tiff)
importFrom(stats,setNames)
